@import "tailwindcss";

:root {
  --background: #171717;
  --light-dark: #242424;
  --foreground: #171717;
  --my-gray: #2B2B2B;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-dark: var(--light-dark);
  --color-my-gray: var(--my-gray);
}

body {
  background: var(--background);
  color: #fff;
  font-family: var(--font-nunito);
}
